<%- include ('../partials/head.ejs') %>
    <%- include ('../partials/menu.ejs') %>
        <div class="w-1/2 pr-4">
            <img src="../../images/IMG_8BFD564C6A8C-1.pngç" alt="Nathan So">
        </div>
        <div class="w-1/2">
            <p class="text-xl font-bold">
                Hi! I'm Nathan So, a Computer Science student at the University of Colorado at Boulder.
            </p>
            <p class="mt-2">
                I'm passionate about software development, and I'm excited to explore opportunities in web development
                and machine learning.
            </p>
        </div>
        <%- include ('../partials/footer') %>